<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>91006094633-b7po6lr31m86oik9fa7a6lbgcqthiu17.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.91006094633-b7po6lr31m86oik9fa7a6lbgcqthiu17</string>
	<key>API_KEY</key>
	<string>AIzaSyDp4Wte-lAhxd4BhLzOSyr29lWLR96urws</string>
	<key>GCM_SENDER_ID</key>
	<string>91006094633</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>FBios.Jonas</string>
	<key>PROJECT_ID</key>
	<string>fbios-a10d0</string>
	<key>STORAGE_BUCKET</key>
	<string>fbios-a10d0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:91006094633:ios:86d539353ef7772da0bb38</string>
</dict>
</plist>